/* Font: 3Dumb and 2Dumb by Michael Tension via Font Squirrel. (https://www.fontsquirrel.com/fonts/3dumb) */
@font-face {
    font-family: 'title';
    src: url('fonts/3dumb.woff2') format('woff2'),
        url('fonts/3dumb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'symbol';
    src: url('fonts/2Dumb.woff2') format('woff2'),
        url('fonts/2Dumb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  font-size: 16px;
  --main-color: #012622;
  --grid-lines: #003B36;
  --background-color: #ECE5F0;
  --round-symbol: #2B50AA;
  --cross-symbol: #764248;
  --border: 2px solid var(--grid-lines);
  font-family: "symbol", Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input {
  border: none;
  outline: none;
  background: transparent;
  font: inherit;
}

#container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 
    'top-bar top-bar top-bar'
    'player0 gameboard player1';
}

#top-bar {
  background-color: var(--main-color);
  grid-area: top-bar;
  display: flex;
  align-items: center;
}

#player0 {
  background-color: var(--round-symbol);
  grid-area: player0;
}

#player1 {
  background-color: var(--cross-symbol);
  grid-area: player1;
}

.name-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  color: var(--background-color);
  background-color: var(--main-color);
  border-radius: 25px;
  border: 0;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.6rem 2rem;
  margin-top: 1rem;
}

#name-player-0, #name-player-1, #score-display-player-0, #score-display-player-1 {
  margin: 2rem 0rem;
  font-size: 2rem;
  text-align: center;
  color: var(--background-color);
}

#score-display-player-0, #score-display-player-1 {
  display: none;
}

input[type="text"] {
  font-size: 1rem;
  border: 0;
  border-radius: 25px;
  padding: 5px 10px;
  background-color: var(--background-color);
}

input[type="text"]:focus {
  border: 0;
  -webkit-box-shadow: inset 5px 4px 5px 0px #C1C1C1; 
  box-shadow: inset 5px 4px 5px 0px #C1C1C1;
}

#gameboard {
  background-color: var(--background-color);
  grid-area: gameboard;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-content: center;
  place-items: stretch;
  -webkit-box-shadow: inset 0px 5px 5px 2px #7A7A7A; 
  box-shadow: inset 0px 5px 5px 2px #7A7A7A;  
}

.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  cursor: pointer;
}

[data-symbol="x"] {
  color: var(--cross-symbol);
}

[data-symbol="o"] {
  color: var(--round-symbol);
}

#title {
  flex: 1;
  text-align: start;
  font-family: "title", Arial, Helvetica, sans-serif;
  color: var(--background-color);
  font-size: 5.5rem;
  padding-left: 2rem;
}

#help {
  flex: 1;
  text-align: start;
  color: var(--background-color);
  font-size: 4rem;
}

.border-top {
  border-top: var(--border);
}

.border-left {
  border-left: var(--border);
}

.border-right {
  border-right: var(--border);
}

.border-bottom {
  border-bottom: var(--border);
}