@font-face {
    font-family: '3Dumb';
    src: url('3dumb.woff2') format('woff2'),
        url('3dumb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '2Dumb';
    src: url('2Dumb.woff2') format('woff2'),
        url('2Dumb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

